:root {
    --primary: rgb(41, 61, 80);
    --secondary: rgb(16, 39, 61);
    --tertiary: rgb(155, 0, 0);
}

.landerContainer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 998;
}

.landerTitle {
    font-size: 70px;
    font-weight: 700;
    /* padding-top: 1rem; */
    text-shadow: 0 0 5px rgb(168, 4, 4);
}

.landerSub {
    padding-top: 2rem;
    font-size: 40px;
    text-shadow: 0 0 5px rgb(5, 3, 14);

}

.landerText {
    align-items: center;
    font-size: 25px;
    padding-top: 4rem;
    line-height: 1.5;
    padding-left: 15%;
    padding-right: 15%;
    padding-bottom: 4rem;
    text-align: center;
    text-shadow: 3 3 3px rgb(0, 0, 0);

}


.LandBtn {
    padding: 8px;
    margin: 15px;
    background-color: var(--secondary);
    border: 1px solid var(--primary);
    color: whitesmoke;
    box-shadow: 0 0 5px whitesmoke;
    margin-left: 20px;
    margin-right: 20px;
}

    .Landbtn:hover {
        background-color: none;
        color: white;
        border: 1px solid whitesmoke;
        box-shadow: 0 0 8px white;
        /* font-weight: bold; */ 
    }

    .btn-primary {
        --bs-btn-hover-bg: none;
    }
    .btn-primary:hover {
        border: 1px solid white;
        box-shadow: 0 0 10px white;
    }

    @media screen and (max-width: 540px) {

        .landerContainer {
            justify-content: normal;
        }
        .landerTitle {
            padding: 3%;
            font-size: 60px;
        }
        .landerSub {
            padding-top: 2%;
            font-size: 30px;
        }

        .landerText {
            padding: 1rem;
            font-size: 20px;
            
        }
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        .LandBtn {
            margin-top: 2px;
        }

    }

    @media screen and (max-width: 290px) {

        .landerTitle {
            font-size: 40px;
        }
        .landerSub {
            font-size: 20px;
        }
        .landerText {
            padding: 1rem;
            font-size: 15px;
            
        }
    }

    @media screen and (min-height: 801px),( max-height: 1000px) {

        .landerContainer{
            justify-content: center;
        }

    }

